<%
op = targ[0].is_a?(P2Opdata::P2InstEntry) ? targ[0] : P2Opdata::P2Instructions.find{|i|i.id==targ[0]}
raise "untabled op #{targ[0]}" unless op
@props[:page_got_dem_instrs_alright] ||= Set.new
@props[:page_got_dem_instrs_alright].add op
%>
<div class="p2instrinfo<%=" joinup" if kwarg[:joinup]%>">
    <%if kwarg[:title]!=false%>
        <h3 <%=htmlattr('id',op.id)%>><%if op.setq%><span class="setq">{ <%=op.setq>=2 ? "SETQ/SETQ2" : "SETQ"%> {#}Q }</span><br><%end%><span class="opname"><%=op.name%></span><span class="args"> <%=op.argsyntax%> </span><span class="flags"><%=op.flagsyntax%></span><%if op.shortdesc%><span class="desc"> - <%=op.shortdesc%></span><%end%><a class="anchor" <%=htmlattr('href',?#+op.id)%>></a></h3>
    <%end%>
    <table class>
        <thead>
            <th>Encoding</th>
            <!--<th>Valid flags</th>%>-->
            <th>Register<br>Written</th>
            <th>C Flag</th>
            <th>Z Flag</th>
            <th>Cycles<br>(cogexec)</th>
            <th>Cycles<br>(hubexec)</th>
            <th>IRQ<br>Shield</th>
        </thead>
        <tbody>
            <td><%=op.enctext%></td>
            <!--<td><%=op.flags.join ?/%></td>-->
            <td><%=op.regwr%></td>
            <td><%=op.cval%></td>
            <td><%=op.zval%></td>
            <td><%=op.time_cog%></td>
            <td><%=op.time_hub%></td>
            <td><%=op.shield.is_a?(String) ? "<strong>#{op.shield}</strong>" : (op.shield ? "<strong>Yes</strong>" : "No")%></td>
        </tbody>
    </table>
</div>
