<%
op = P2Opdata::P2Instructions.find{|i|i.name==targ[0].upcase}
raise "untabled op #{targ[0].upcase}" unless op
@props[:page_got_dem_instrs_alright] ||= Set.new
@props[:page_got_dem_instrs_alright].add op.name
%>
<div class="p2instrinfo">
    <%if kwarg[:title]!=false%>
        <h3 <%=htmlattr('id',op.name.downcase)%>><%=op.name%> <span class="args"><%=op.argsyntax%></span><%if op.shortdesc%><span class="desc"> - <%=op.shortdesc%></span><%end%></h3>
    <%end%>
    <table class>
        <thead>
            <th>Encoding</th>
            <th>Valid flags</th>
            <th>Register<br>Written</th>
            <th>C Flag</th>
            <th>Z Flag</th>
            <th>Cycles<br>(cogexec)</th>
            <th>Cycles<br>(hubexec)</th>
            <th>IRQ<br>Shield</th>
        </thead>
        <tbody>
            <td><%=op.enctext%></td>
            <td><%=op.flags.join ?/%></td>
            <td><%=op.regwr%></td>
            <td><%=op.cval%></td>
            <td><%=op.zval%></td>
            <td><%=op.time_cog%></td>
            <td><%=op.time_hub%></td>
            <td><%=op.shield ? "<strong>Yes</strong>" : "No"%></td>
        </tbody>
    </table>
</div>
